<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">YAZILIM DÜNYASINA HOŞGELDİNİZ!</h1>
				<p>Yazılımla ilgili gönderileri okuyup, kendi bildiklerinizi paylaşabileceğiniz, takıldığınız yerlerde yardım isteyebilceğiniz bu site sizin! </p>
				<p>Hemen kayıt Olun ve Blog sayfamızdaki yazılara göz atmayı unutmayın...</p>
				<h2 class="text-white">Gelecek sizin ve onu sadece siz değiştirebilirsiniz</h2>
				
				<button class="main-btn">BAŞLAYIN!</button>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Alanlar</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>YAPIM AŞAMASINDA!</h3>
						<p>Bu alan şu anda yapım aşamasında.Lütfen sitemizin diğer alanlarını keşfedin ve keyfini çıkarın!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>YAPIM AŞAMASINDA!</h3>
						<p>Bu alan şu anda yapım aşamasında.Lütfen sitemizin diğer alanlarını keşfedin ve keyfini çıkarın!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>YAPIM AŞAMASINDA!</h3>
						<p>Bu alan şu anda yapım aşamasında.Lütfen sitemizin diğer alanlarını keşfedin ve keyfini çıkarın!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-white">Kendin için bugün ne yaptın?<br> Hayatımızın yazarı bizleriz. Harekete geçmezsen kalem hiçbir şey yazamaz</h3>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Gelecekte Bu Sayfada Bizi Neler Bekliyor?</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Şu anda sayfamızın blog kısmı aktif haldedir. Çok yakında sizleri yeni alanlarımızla tanıştıracağız. Bunun için var gücümüzle çalışıyoruz.</p>
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>Yeniliklerimiz</h5>
                                <h4>Ders Notları</h4>
                                <p>Her konuyu kategorilere ayırarak hem bizlerin hem de sizlerin ders notlarını paylaşabileceği aktif bir sayfa için çalışıyoruz</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>Yeniliklerimiz</h5>
                                <h4>Kod Kısmı</h4>
                                <p>Hata aldığınız veya yardım istediğiniz kodları paylaşabileceğiniz bir sayfa için çalışıyoruz</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>Yeniliklerimiz</h5>
                                <h4>Sohbet Alanı</h4>
                                <p>Aynı alandan insanlarla tanışabileceğiniz sohbet odalarımız için çalışıyoruz</p>
                            </div>
                        </div>	
					</div>
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="img/g1.jpg" class="img-fluid">
						<img src="img/g2.jpg" class="img-fluid">
						<img src="img/g3.jpg" class="img-fluid">
						<img src="img/about1.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>